#div_1{
    background-color:white;
    color:darkslategray;
    text-align: center;
}
#label_1{
    color:maroon;
}
#main_div{
    background-color: lightpink;
}
img{
    width: 300px;
    height: 300px;
}
.copyright_footer{
    background-color: white;
    bottom:0;
    position:fixed;
    text-align:center ;
    color:grey ;
    text-shadow: 5px 5px 5px lightsteelblue;
    width:100%;
}